<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        <div id="startup">
            <h3>Daily Dairies.</h3> 
        </div>

        <div id="auth">
            <button class="button_reset" id="login" onclick=" location.href = '/users/login'; " >Login</a> </button>
            <button class="button_reset" id="register" onclick=" location.href = '/users/register'; ">Register</button>
        </div>

    </header>

</body>
</html>